{% extends 'base.html' %}


{% block title %}Create New Annotation{% endblock %}

{% block content %}

{% load static %}

<h3>Spectrogram</h3>
<button onclick="toggleSpectrogram()" id="show_button">Show</button>
<div id="spectrogram_container" hidden>
    <img src="{% get_static_prefix %}{{ spectrogram_file_name }}">
</div>

<h3>Audio</h3>
<audio id="aud">
    <source src="{% get_static_prefix %}{{ audio_file_name }}" type="audio/ogg">
    Your browser does not support the audio element.
</audio>

<button onclick="play()">Play</button>
<button onclick="stop()">Stop</button>
<h3>Volume</h3>
<input type="range" id="volume-control" min="0" max="100" />

<h3>Qualities</h3>
<table style="width: 80%">
    {% for left, right, q in qualities %}
    <tr>
        <td style="text-align: right">{{ left }}</td>
<!--        <td><input type="range" min="0" max="99" id="{{ q }}" name="{{ q }}" form="main_form" oninput="updateVal('{{ q }}')"></td>-->
        <td><input type="range" min="0" max="99" id="{{ q }}" name="{{ q }}" form="main_form" /></td>
        <td style="text-align: left">{{ right }}</td>
<!--        <td>Value=<span id="{{ q }}_value">50</span></td>-->
    </tr>

    {% endfor %}
</table>

<h3>Description</h3>
<p>Using one or two adjectives, please describe the sample:</p>
<input type="text" id="description" name="description" form="main_form">

<br /><br />
<form method="post" id="main_form">
    {% csrf_token %}
<!--<button onclick="submitData()">Submit</button>-->
    <input type="submit" value="Submit">
</form>

<input type="checkbox" id="was_played" name="was_played" form="main_form" hidden>
<input type="hidden" id="audio_file_name" name="audio_file_name" value="{{ audio_file_name }}" form="main_form" hidden>

<script>

    let current_audio = document.getElementById('aud');
    let volume = document.querySelector("#volume-control");
    let divObject = document.getElementById('spectrogram_container');
    let toggleButton = document.getElementById('show_button');
    let was_played_input = document.getElementById('was_played')

    volume.addEventListener("change", function(e) {
        current_audio.volume = e.currentTarget.value / 100;
    })

    function toggleSpectrogram() {
        divObject.hidden = !divObject.hidden;
        if (toggleButton.innerHTML === 'Show') {
            toggleButton.innerHTML = 'Hide'
        } else {
            toggleButton.innerHTML = 'Show'
        }
    }

    function stop() {
        current_audio.pause();
        current_audio.currentTime=0;
    }

    function play() {
        stop()
        current_audio.play();
        was_played_input.checked = true;
    }

</script>

{% endblock %}
