<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--   <link rel="stylesheet" href="https://latex.now.sh/style.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <title>Audio Annotator</title>

</head>
<body>

<div>

    <h1>Audio Annotator</h1>

     <nav>
         <a href="{% url 'home' %}">Home</a> |
         {% if user.is_authenticated %}
            <a href="{% url 'annotation_create' %}">Next Sample</a> |
            {% if user.is_staff %}
                <a href="{% url 'annotation_stats' %}">Stats</a> |
            {% endif %}
            <a href="{% url 'password_change' %}">Settings</a> |
            <a href="{% url 'logout' %}">Logout</a>
         {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    <hr />

    <div>
        <h2>{% block title %}Home{% endblock %}</h2>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>
