{% extends 'base.html' %}

{% block header %}
  <h1>Register</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input class="w3-input" name="username" id="username" required>
    <label for="password">Password</label>
    <input class="w3-input" type="password" name="password" id="password" required>
    <label for="app_secret">App Secret</label>
    <input class="w3-input" type="password" name="app_secret" id="app_secret" required>
    <input type="submit" value="Register" class="w3-button w3-black w3-margin-top">
  </form>
{% endblock %}
