numpy<1.20
rgws==0.1.5
SoundFile==0.10.3.post1
streamlit==0.85.1
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-probability==0.13.0
tsms @ git+https://github.com/fabiodimarco/tf-spectral-modeling-synthesis.git@c090cf50916285500df0c96348dbfd8e01b73b9b
loguru==0.5.3
scipy==1.7.1
gdown==3.13.0
wget==3.2
