{% extends 'base.html' %}

{% block header %}
  <h1>Annotate</h1>
{% endblock %}

{% block content %}

<div class="w3-container w3-cell">

    <div class="w3-section">
        <button onclick="play()" class="w3-button w3-black">Play</button>
        <button onclick="stop()" class="w3-button w3-black">Stop</button>
        <button onclick="display('spec')" class="w3-button w3-black">Spectrogram</button>
    </div>

    <div class="w3-section">
        <audio id="aud">
            <source src="{{ url_for('static', filename=file_name) }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    </div>

    <hr />

    <div>
        <h3>Choose the qualities</h3>

        <div>
            <form method="post" action="{{ url_for('sample.show_sample', sample_id=sample_id) }}">
                {%  for i, p in pairs %}
                    <div class="w3-row-padding">
                        <div class="w3-third">
                          <div class="w3-half">
                            <label style="width: 10px;">{{ p[0] }}</label>
                          </div>
                          <div class="w3-half">
                            <input name="p_{{ i }}" class="w3-radio" type="radio" value="{{ p[0] }}">
                          </div>
                        </div>
                        <div class="w3-third" style="padding-left: 40px;">
                            <input name="p_{{ i }}" class="w3-radio" type="radio" value="unsure">
                        </div>
                        <div class="w3-third">
                          <input name="p_{{ i }}" class="w3-radio" type="radio" value="{{ p[1] }}">
                          <label>{{ p[1] }}</label>
                        </div>
                    </div>
                {%  endfor %}
                <br />
                <label>Using one or two adjectives, please describe the sample: </label>
                <br />
                <input type="text" name="description">
                <hr />
                <input type="submit" class="w3-button w3-black" value="Submit">
            </form>
        </div>

    </div>
</div>

<div class="w3-container w3-cell">
    <div>
        <img id="spec" class="w3-hide" src="{{ url_for('static', filename=image_name) }}" />
    </div>
</div>

<script>
function display(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") === -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

function play() {
    stop()

    var current_audio = document.getElementById('aud');
    current_audio.play();
}

function stop() {
    var current_audio = document.getElementById('aud');
    current_audio.pause();
    current_audio.currentTime=0;
}

</script>

{% endblock %}
